#map {
    height:300px;
    width: 300px;
    margin: auto;
    border-radius: 30px;
    border: 10px solid rgb(255, 255, 255);
  }

#container{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

#fotos{
  height: 600px;
  width: 700px;
  margin: auto;
  margin-top: 30px;
  border-radius: 30px;
}

#fotos:hover{
  height: 620px;
  width: 720px;
  box-shadow: 1px 1px 20px rgb(255, 255, 255);
}


  body{
    background-image: radial-gradient(rgb(58, 212, 250), rgb(0, 60, 116));
  }